<div class="container">
  <button class="btn btn-danger" (click)="charactersView()">Back</button>

  <div class="row">
    <div class="col-4">
      <img
        class="img-fluid card"
        src="{{ character.image }}"
        alt="Card image cap"
      />
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">{{ character.name | uppercase }}</h5>
        <p class="card-title">Status: {{ character.status }}</p>
        <p class="card-title">Species: {{ character.species }}</p>
        <p class="card-title">Gender: {{ character.gender }}</p>
        <p class="card-title">Origin: {{ character.origin.name }}</p>
        <p class="card-title">Location: {{ character.location.name }}</p>
      </div>
    </div>
  </div>
</div>
